allure-pytest==2.13.2
allure-python-commons==2.13.2
annotated-types==0.6.0
Appium-Python-Client==3.1.0
attrs==23.1.0
black==23.11.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
curlify==2.2.1
-e git+ssh://git@github.com/ivkhokhlov/demo-autoqa-coinmarketcap.git@6324b4018783c6c93f0fb9e20ba1ac745ad4b43a#egg=demo_autoqa_coinmarketcap
Faker==20.0.3
future==0.18.3
h11==0.14.0
idna==3.4
iniconfig==2.0.0
mypy-extensions==1.0.0
outcome==1.3.0.post0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pluggy==1.3.0
pydantic==2.5.1
pydantic-settings==2.1.0
pydantic_core==2.14.3
PySocks==1.7.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
selene==2.0.0rc4
selenium==4.15.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
structlog==23.2.0
tqdm==4.66.1
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.8.0
urllib3==2.1.0
webdriver-manager==3.8.6
wsproto==1.2.0
